.intro {
    background-color: yellow;
  }
  .intro1 {
    background-color: yellow;
  }
  .intro2{
    background-color: yellow;
  }
  .intro3 {
    background-color: yellow;
  }
  .intro4 {
    background-color: yellow;
  }